.Rproj.user
.Rhistory
.RData
.Ruserdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_017_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_018_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_019_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_020_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_021_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_022_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_023_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_024_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_025_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_DF/IonXpress_026_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/001/001_IonTorrent_Files/001_IonTorrent_Zipped/001_IonTorrent_Zipped.zip
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_017_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_018_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_019_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_020_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_021_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_022_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_023_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_024_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_025_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_026_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_027_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_028_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_029_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_030_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_031_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_032_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_033_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_034_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_035_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_036_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_037_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_038_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_039_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/IonXpress_040_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_DF/nomatch_rawlib.basecaller.fastq.Rdata
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_Zipped/Botero110516-20161105T180516Z-2.zip
1_FastQtoCounts/002/002_IonTorrent_Files/002_IonTorrent_Zipped/Botero110516-20161105T180516Z.zip
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/017.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/018.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/019.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/020.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/021.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/022.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/023.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/024.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/025.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/026.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/034.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/036.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_DF/nomatch.fastq.Rdata
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/017.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/018.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/019.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/020.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/021.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/022.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/023.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/024.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/025.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/026.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/034.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/036.fastq.gz
1_FastQtoCounts/002_Reruns/002_Reruns_IonTorrent_Files/002_Reruns_IonTorrent_Zipped/nomatch.fastq.gz
